In [1]:
name = "Girish Chandra"
print(name.upper())

GIRISH CHANDRA

In [2]:
name = "GIRISH chanDRA"
print(name.lower())

girish chandra

In [3]:
name = "Girish Chandra         "
print(len(name))

23

In [8]:
# Remove Whitespace
name1 = "Girish Chandra         "
print(name1.strip())
print(name1)
print(len(name1.strip()))
print(len(name1))

Girish Chandra
Girish Chandra
14
23

In [14]:
# Splitting the String
x = "Hello, World!,Welcome"
print(x)
y = x.split(",")
print(y)

Hello, World!,Welcome
['Hello', ' World!', 'Welcome']

In [15]:
# String Concatenation
x = "Girish"
y = "Chandra"
z = x + y
print(z)

GirishChandra

In [16]:
z = x + " " + y
print(z)

Girish Chandra

In [17]:
# String Formatting
age = 30
txt = "My name is Girish, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [18]:
txt = "My name is Girish, I am " + str(age)
print(txt)

My name is Girish, I am 30

In [19]:
# Formatted Strings
age = 30
txt = f"My name is Girish, I am {age}"
print(txt)

My name is Girish, I am 30

In [20]:
Salary = 80
txt = f"My Salary is {Salary} Lakhs"
print(txt)

My Salary is 80 Lakhs

In [22]:
Salary = 80
txt = f"My Salary is {Salary:.2f} Lakhs"
print(txt)

My Salary is 80.00 Lakhs

In [23]:
txt = f"My Salary is {80 * 2 } Lakhs"
print(txt)

My Salary is 160 Lakhs

# if x = 9, what is the correct syntax to print "The price is 9.00 USD"
1) print(f'The price is {x:2f} dollars')
2) print(f'The price is {x:2} dollars')
3) print(f'The price is {x:format(2)} dollars')

In [24]:
x = 9
printf(f'The price is {x:2f} dollars')

NameError: name 'printf' is not defined

In [28]:
print(f'The price is {x:2f} dollars')

The price is 9.000000 dollars

In [26]:
print(f'The price is {x:2} dollars')

The price is  9 dollars

In [27]:
print(f'The price is {x:format(2)} dollars')

ValueError: Invalid format specifier 'format(2)' for object of type 'int'

In [ ]:
# Knowledge Check of 10 questions I am sharing today, you guys needs to submit by Tuesday EOD
# I am sharing a google form