### Escape Characters

In [1]:
txt = "I am very "Happy" today"
print(txt)

SyntaxError: invalid syntax (752483032.py, line 1)

In [2]:
txt = "I am very \"Happy\" today"
print(txt)

I am very "Happy" today

In [3]:
txt = "I am very \'Happy\' today"
print(txt)

I am very 'Happy' today

In [4]:
txt = " I am very \n Happy today"
print(txt)

 I am very
 Happy today

In [5]:
txt = "I am very\tHappy today"
print(txt)

I am very	Happy today

In [6]:
txt = "My name is {fname}, I am {age} ".format(fname = "Girish", age = 30)
print(txt)

My name is Girish, I am 30

### Python Operators

#### Comparision Operators

== 
!=
>
<
>=
<=

In [7]:
x = 10
y = 20
print(x == y)

False

In [8]:
if x == y :
    print(" Both are equal ")
else :
    print(" Both are not equal")

 Both are not equal

In [9]:
x = 10
y = 20
print(x != y)

True

In [10]:
if x != y :
    print(" True ")
else :
    print(" False")

 True

#### Logical Operators

and
or
not

In [15]:
x = 5
print(x > 3 and x < 10)  # Returns True if both the statements are true

True

In [16]:
x = 5
print(x > 3 or x < 4) # Returns True if one of he statements are true

True

In [14]:
x  = 5
print(not(x > 3 and x < 10)) # Reverse the result, returns False if the result is true

False

#### Identity Operators

Identity Operators are used to compare the Objects
is  => Returns True if both variables are the same object
is not => Returns True if both variable are not same object

In [17]:
x = ["Grapes","Papaya"]
y = ["Grapes","Papaya"]
z = x
print( x is z)

print( x is y)

print( x == y)

True
False
True

In [18]:
id(x)

2025338823232

In [19]:
print(id(x))

2025338823232

In [20]:
print(id(y))

2025338852352

In [21]:
print(id(z))

2025338823232

In [22]:
print(hex(id(x)))

0x1d78f99e240

id(x) => Returns a unique identifier for the object, which is its memory address in Python Implementation
hex(id(x)) => Converts the decimal memory address to a hexadecimal representation

#### Membership Operators

Membership operators are used to test if the sequence is presented in the object
in => Returns True if a sequence with the specified value is present in the object
not in => Returns True if a sequence with the specified value is not present in the object

In [23]:
x = ["Mango", "Banana"]
print("Banana" in x )

True

In [24]:
x = ["Mango", "Banana"]
print("Grapes" in x )

False

### List, Tuple, Sets and Dictionaries

### List

Lists are used to store multiple values (items) in a single variable

Lists are created using Square Brackets [] or using a List Constructor list()

Lists are ORDERED, CHANGEABLE, ALLOW DUPLICATES

Lists items are INDEXED, the first item has the index [0], second item has index [1]

ORDERED => ITEMS have a defined order, and that order will not change. If you add any new items to a list, the new items will be placed at the end of the list

CHANGEABLE => We change, add and remove items after the list has been created

ALLOW DUPLICATEs => As lists are indexed, lists can have items with the same value

List items can have any data type

In [29]:
myList = ["Apple","Banana","Orange"]
print(myList)

['Apple', 'Banana', 'Orange']

In [30]:
print(len(myList)) # List Length

3

In [40]:
mylist1 = ["one","two","three"] # String Data Type
mylist2 = [1,2,3,4,5,6] # Numerical Data Type
mylist3 = [True,False, True] # Boolean
mylist4 = ["one",1,True,2.5, 2+4j] # Multiple Data Types
print(mylist1)
print(mylist2)
print(mylist3)
print(mylist4)

print(type(mylist1))

['one', 'two', 'three']
[1, 2, 3, 4, 5, 6]
[True, False, True]
['one', 1, True, 2.5, (2+4j)]
<class 'list'>

In [41]:
mylist = list(("apple","banana","mango")) # Using List Constructor
print(mylist)

['apple', 'banana', 'mango']

#### List Access

In [43]:
mylist = ["apple","One","banana","two"]
print(mylist[3])

two

In [44]:
print(mylist[4])

IndexError: list index out of range

In [47]:
print(mylist[-1])  # -1 represents 1st last item, -2 represents second last item

two

In [46]:
print(mylist[-4])

apple

#### Range of Indexes

In [51]:
mylist = ["apple","One","banana","two","apple","One","banana","two"]
print(mylist[2:5]) 
# We are specifying a range of index by giving where to start and where to end the range.
# The search will start at the index 2 (included) and the end at the index 5 (not included)

['banana', 'two', 'apple']

In [52]:
# If we want to return the items from the beginning to, but NOT including
print(mylist[:4])

['apple', 'One', 'banana', 'two']

In [53]:
print(mylist[2:])

['banana', 'two', 'apple', 'One', 'banana', 'two']

In [54]:
print(mylist[-4:-1])

['apple', 'One', 'banana']