In [1]:
mylist = ["One","Two","Three","Four","Five"]
if "Three" in mylist:
    print("Yes, \'Three\' is in the list")

Yes, 'Three' is in the list

#### Change List items

In [2]:
mylist = ["One","Two","Three","Four","Five"]
mylist[3] = "Forty Four"
print(mylist)

['One', 'Two', 'Three', 'Forty Four', 'Five']

In [3]:
mylist

['One', 'Two', 'Three', 'Forty Four', 'Five']

In [5]:
mylist[1:3] =["Twenty Two","Twenty Three"] # Change a Range of Item values
print(mylist)

['One', 'Twenty Two', 'Twenty Three', 'Forty Four', 'Five']

In [6]:
mylist[4:5] = ["New Value 1", "New Value 2"]
print(mylist)

['One', 'Twenty Two', 'Twenty Three', 'Forty Four', 'New Value 1', 'New Value 2']

In [10]:
mylist1 = ["apple","banana","orange"]
mylist1[1:3] = ["Coconut"]
print(mylist1)

['apple', 'Coconut']

#### Insert Items

In [11]:
mylist2 = ["one","two","three"]
mylist2.insert(2,"Apple")
print(mylist2)

['one', 'two', 'Apple', 'three']

#### Append Items

In [13]:
mylist3 = ["test1","test2","test3"]
mylist3.append("New Value")
print(mylist3)

['test1', 'test2', 'test3', 'New Value']

#### Extend List

In [14]:
# To append elements from another list to the current list
mylist4 = ["t1","t2","t3"]
mylist5 = ["p1","p2","p3"]
mylist4.extend(mylist5)
print(mylist4)

['t1', 't2', 't3', 'p1', 'p2', 'p3']

#### Remove Items

In [15]:
mylist6 = ["t1","t2","t3"]
mylist6.remove("t3")
print(mylist6)

['t1', 't2']

In [16]:
mylist6 = ["t1","t2","t3","t1","t2","t3"]
mylist6.remove("t3") # Removes the first occurance
print(mylist6)

['t1', 't2', 't1', 't2', 't3']

In [17]:
print(mylist6)

['t1', 't2', 't1', 't2', 't3']

In [19]:
mylist6.pop(4) # Based on Specified Index
print(mylist6)

IndexError: pop index out of range

In [20]:
mylist6.pop() # If we not mentioning any index number, then it remove the last item
print(mylist6)

['t1', 't2', 't1']

In [21]:
print(mylist6)

['t1', 't2', 't1']

In [22]:
del mylist6[2]

In [23]:
print(mylist6)

['t1', 't2']

In [24]:
del mylist6

In [25]:
print(mylist6)

NameError: name 'mylist6' is not defined

In [26]:
mylist6 = ["t1","t2","t3","t1","t2","t3"]
print(mylist6)

['t1', 't2', 't3', 't1', 't2', 't3']

In [27]:
mylist6.clear()
print(mylist6)

[]

In [29]:
mylist6.insert(0,"Girish")
print(mylist6)

['Girish']

#### Looping the Lists

In [31]:
mylist6 = ["t1","t2","t3","t1","t2","t3"]
for x in mylist6:
    print(x)

t1
t2
t3
t1
t2
t3

In [32]:
mylist6 = ["t1","t2","t3","t1","t2","t3"]
i = 0
while i < len(mylist6):
    print(mylist6[i])
    i = i + 1

t1
t2
t3
t1
t2
t3

#### Sorting the Lists

In [34]:
mylist = ["One","Two","Three","Four","Five"]
print("Before Sorting:",mylist)
mylist.sort()
print("After Sorting:",mylist)

Before Sorting: ['One', 'Two', 'Three', 'Four', 'Five']
After Sorting: ['Five', 'Four', 'One', 'Three', 'Two']

In [36]:
mylist1 = [34,87,42,98,100]
print(mylist1)
mylist1.sort()
print(mylist1)

[34, 87, 42, 98, 100]
[34, 42, 87, 98, 100]

In [37]:
mylist1 = [34,87,42,98,100]
print(mylist1)

[34, 87, 42, 98, 100]

In [38]:
mylist1.sort(reverse=True)
print(mylist1)

[100, 98, 87, 42, 34]

In [39]:
mylist = ["One","Two","Three","Four","Five"]
mylist.sort(reverse=True)
print(mylist)

['Two', 'Three', 'One', 'Four', 'Five']

In [40]:
# Sort is case sensitive ( Sort Capital Letters, and then lower Case Letters)

In [42]:
mylist = ["One","Two","Three","Four","Five","one","two","three","four","five"]

mylist.sort()
print(mylist)

['Five', 'Four', 'One', 'Three', 'Two', 'five', 'four', 'one', 'three', 'two']

In [43]:
mylist.sort(key = str.lower)
print(mylist)

['Five', 'five', 'Four', 'four', 'One', 'one', 'Three', 'three', 'Two', 'two']

In [44]:
print(mylist)

['Five', 'five', 'Four', 'four', 'One', 'one', 'Three', 'three', 'Two', 'two']

In [47]:
mylist.reverse()
print(mylist)

['two', 'Two', 'three', 'Three', 'one', 'One', 'four', 'Four', 'five', 'Five']